.footer {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    background-color: $blue-dark;


}

.footer div>* {
    color: $white;
    padding: 0 8px;

    .fab {
        color: $white;
        font-size: 2rem;
        padding: 0 8px;
    }

    .fa {
        color: $white;
        font-size: 2rem;
        padding: 0 8px;
    }
}
