.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    margin-bottom: 20px;
    gap: 1em;
}

.gallery-img {
    // width: 100%;
    display: block;
    margin: auto;
    transition: $transition;
    border: $border-standard;
}

.gallery-img:hover {
    transform: $transform-small;
}

.video-container {
    max-width: 90%;
    height: auto;
    margin: auto;

    iframe {
        border: $border-standard;
        border-radius: $border-radius;
    }
}

// .video-container >* {
//     width: 100%;
//     height: 528px;
//     transition: $transition;
// }

// .video-container:hover >* {
//     transform: $transform-small;
// }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    // overflow: hidden;
    max-width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $transition;
}

.video-container iframe:hover,
.video-container object:hover,
.video-container embed:hover {
    transform: $transform-small;
}
