@import 'variables';

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.site-header {
    margin: auto;
    display: flex;
    gap: 50px;
}

.title {
    margin-top: 20px;
    text-align: center;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.nav ul li a {
    background-color: $item-color2;
    padding: 1em 3em;
}

.nav ul li a:hover {
    background-color: rgb(52, 184, 155);
}
