.background-lines-left {
    background-image: $background-lines;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 23%;
    height: 370px;
}

.background-lines-right {
    background-image: $background-lines;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    width: 23%;
    height: 370px;
    transform: scaleX(-1);
}

.logo {
    background-image: $logo;
    background-repeat: no-repeat;
    background-size: cover;
    width: 152px;
    height: 142px;
}

.header {
    margin: 30px 0 35px;
    display: flex;
    flex-direction: column;
    // gap: 20px;
}

.site-header {
    border: $border-standard;
    border-radius: $border-radius;
    // box-shadow: $box-shadow;
    margin: auto;
    margin-bottom: 15px;
    width: min-content;
    display: flex;
    justify-content: center;
    padding: 5px 30px;
    background-image: $col-box;
    transition: $transition;

    .title {
        margin-top: 20px;
        text-align: center;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0;
        border: 0;
        background-image: none;
    }

    p {
        margin: 0 0 10px;
    }
}

.site-header:hover {
    transform: $transform-small;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 0;
}

#nav p {
    margin: 0;
    border: $border-alternative;
    border-radius: $border-radius;
    background-image: $col-box-alt;
    padding: 0.5em 1.5em;
    transition: $transition;
    color: $col-navtext;
}

#nav p:hover {

    transform: $transform-big;
    background-image: $col-box-hover;
    border: $border-hover;
}
