@import 'variables';

.header {
    margin: 30px 0 25px;
    display: flex;
    flex-direction: column;
    // gap: 20px;
}

.site-header {
    border: $border-standard;
    border-radius: $border-radius;
    // box-shadow: $box-shadow;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5px 30px;
    background-image: $col-box;
    transition: $transition;

    .title {
        margin-top: 20px;
        text-align: center;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0;
        border: none;
        background-image: none;
    }
}
.site-header:hover {
    transform: $transform-small;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.nav ul li {
    border: $border-alternative;
    border-radius: $border-radius;
    background-image: $col-box-alt;
    padding: 0.5em 1.5em;
    transition: $transition;
}

.nav ul li:hover {

    transform: $transform-big;
    background-image: $col-box-hover;
    border: $border-hover;
}
