a {
    text-decoration: none;
}

p {
    a {
        text-decoration: underline;
        color: $col-links;
    }
}

li {
    a {
        text-decoration: underline;
        color: $col-links;
    }
}

.no-underline {
    text-decoration: none;
}
