@media (max-width: 800px) {
    .slide {
        overflow-y: hidden !important;
        transition: height 0.5s ease-in !important;
    }

    .header {
        flex-direction: column;
        flex-wrap: wrap;

        .site-header {
            flex-wrap: wrap;
        }

        .nav ul {
            flex-direction: column;
            padding-bottom: 1em;
            gap: 10px;

            li {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }
    }

    .horiz-img {
        max-width: 200px;
    }

    .main {
        margin: 20px 10%;
    }

    .container-three-columns {
        grid-template-columns: 1fr;

        h1 {
            grid-column: span 1;
            grid-gap: 1em 0;
        }
    }

    .box:last-child {
        grid-column: span 1;
    }

    .container-two-columns {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .nav-tech {
        display: none;
    }

    .one-column-text {
        max-width: 100%;
    }

    .gallery-container {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .background-lines-left {
    visibility: hidden;
}

    .background-lines-right {
        visibility: hidden;
}

    .shark-container {
        float: none;
        display: block;
        text-align: center;
    }

}
