.container-three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    grid-gap: 1em;

    h1 {
        grid-column: span 3;
        justify-self: center;
        text-shadow: $text-shadow;
        color: $yellow;
        background-color: $blue-dark;
        padding: 10px 30px;
    }
}

.box {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.281);
    background-color: $yellow-light;
    padding-bottom: 10px;
}

.box:hover {
    background-color: $green;
}

.box a {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h2 {
        padding: 10px 15px 12px;
        margin: 0;
        font-size: $main-subtitle-size;
        color: $yellow;
        background-color: $blue-dark;
        text-shadow: $text-shadow;
        box-shadow: $box-shadow;
    }

    p {
        margin: 1em;
    }
}

.box.project {
    grid-column: span 3;
}

