* {
    color: $font-color;
    font-family: 'Mohave', sans-serif;
}

html {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mochiy Pop P One', sans-serif;
}

p {
    font-size: 1em;
}
