* {
    color: $font-color;
    font-family: 'Mohave', sans-serif;
}

html {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $main-title-size;
    margin-top: $margin-top-title em;
    margin-bottom: $margin-bottom-title em;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.main p {
    font-size: $main-paragraph-size;
    margin-bottom: $margin-bottom-paragraph;
    letter-spacing: $letter-spacing;
}
