
// COLORS
$background-img: url('../../../assets/img/background_ball.png');
$blue-light: #54d1ff;
$blue: #157da3;
$blue-dark: #0b4053;
$white:#fff;
$yellow-light: #ffa13c;
$yellow: #f09737;
$yellow-dark: #a35705;
$green: rgb(52, 184, 155);



// FONT SIZE
$main-title-size: 2em;
$main-subtitle-size: 1.5em;
$main-paragraph-size: 1.2em;
$main-line-height: 1.4;
$margin-bottom-paragraph: $main-paragraph-size * $main-line-height;
$margin-top-title: 1.5 * $main-line-height;
$margin-bottom-title: 1 * $main-line-height;
$letter-spacing: 0.1em;

// SECIAL EFFECTS
$text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.281);
$box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.281);
