// HEADER IMAGES
$logo: url('../../../assets/img/rabbitYellow.png');
$background-lines: url('../../../assets/img/backgroundLines.png');

// OPACITY
$opacity: 1;

//BOX
$border-standard: 3.5px solid #6aa5a8;
$border-alternative: 3.5px solid #a86088;
$border-hover: 3.5px solid #b19900;
$border-radius: 50px;
$border-radius-round: 50%;

// COLORS
$col-background: linear-gradient(to right, #c9e2e6, #dcf6fa 5%, #dcf6fa 95%, #c9e2e6);

$col-box: linear-gradient(#d4fbff, #c1eff5 5%, #c1eff5 95%, #b8e3e9);
$col-box-alt: linear-gradient(#fc8eca, #f580c0 5%, #f580c0 95%, #db74ad);
$col-box-hover: linear-gradient(#ffdf13, #f5d400 5%, #f5d400 95%, #e2c400);

$col-title: #13607c;
$col-title-alt: #157da3;
$col-text: #0b4053;
$col-text-alt: #fff;
$col-paragraph: #0b4053;
$col-paragraph-alt: #0b4053;
// $col-text-hover: #f5d400;

$col-footer: #0b4053;
$col-icons: #fff;

$col-selection: #f5d400;

$col-links: #64344f;

//ANIMATION
$transition: 0.15s all ease;
$transform-small: scale(1.1);
$transform-big: scale(1.2);

// FONT STYLE
$font-title-style: 'Nunito', sans-serif;
$font-text-style: 'Nunito', sans-serif;


// FONT SIZE
$main-title-size: 3em;
$main-subtitle-size: 2em;
$main-paragraph-size: 1.2em;
$main-line-height: 1.4;
$margin-bottom-paragraph: $main-paragraph-size * $main-line-height;
$margin-bottom-title: 0.2em * $main-line-height;
$margin-bottom-list: $main-line-height;
$letter-spacing: 0.1em;

// SECIAL EFFECTS   (ej använda längre)
// $text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.281);
// $box-shadow: 0 5px 1px rgba(0, 0, 0, 0.04);
