$font-color: #0b4053;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #54D1FF;
$background-alternative-color: #37BFF0;
$item-color: #A35705;
$item-color2: #F09737;
$item-color3: #157DA3;
