{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="one-column-text">
            {{ content }}
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
