{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="container-two-columns">
        <div class="techinfo">
        {{ content }}
        </div>
        {% include 'incl/nav-tech.twig' %}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
