{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main">
        <div class="container-two-columns">
            <div class="techinfo">
            {{ content }}
            </div>
            <div class="nav-tech">
                {% for page in pages("technology") %}
                        <a href="{{ page.url }}">
                        <h2>{{page.title}}</h2>
                        </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
